
/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
   
  overflow: hidden;
}
.Fullpage{
  display: grid;
  grid-template-rows: auto 1fr;

}

.SideNavbar {
  display: grid;
  grid-template-columns:  auto 1fr;
}
