.main-Decument{
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}
.nav-search{
    border: 1px solid rgb(78, 222, 174) ;
    padding: 5px 10px;
    border-radius: 5px ;
    background-color: #FFFFFF;
}
.nav-search:hover{
    border: 1.5px solid #4a90e2;
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.3);
   
}
.input-search::placeholder{
    color: #9e9e9e; /* Set placeholder text color */
    font-family: system-ui;

}
.main-navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(78, 222, 174);

}
.cards{
    overflow: auto;
    max-height:100vh;
}
.cards::-webkit-scrollbar-thumb {
    background: #007bff; /* Scrollbar thumb color */
    border-radius: 10px; /* Round edges of the thumb */
    border: 3px solid #f0f0f0; /* Add padding-like effect by showing border */
}
.cards::-webkit-scrollbar-track{
    background-color: #F7F8FD;
}