.Header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
 
}
.Header-div-button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
    color: #4D61FC;
}
.Header-div-button {
    border: 1px solid #C1C4CA;
    border-radius: 5px;
    padding: 2px;
    background-color: #FFFFFF;
  
}
.Second-Header-div{
    gap: 5px;
    display: flex;
    padding: 0px 10px;
}
.Second-Header-div:hover{
    background-color: #f2f4ff;
}
.Second-Header-div span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Second-Header-div p{
    font-weight: 500;
    font-size: 12px;
    font-family: Inter,sans-serif;
}
.Second-Header-search-Bar:focus-within {
    border: 1px solid #4D61FC !important;
    transition: border 0.2s cubic-bezier(0.62, 0.15, 1, 1), box-shadow 0.2s cubic-bezier(0.62, 0.15, 1, 1);
    box-shadow: 0 0 5px #4D61FC;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    appearance: none;
    background-color: #fff; 
    border: 2.5px solid #D0D2D6;
    cursor: pointer;
    position: relative;
  }
  .custom-checkbox:checked {
    background-color: #4a6cf7;
    border: 2.5px solid #4a6cf7;
  }
  .custom-checkbox:hover {
    border-color: #4a6cf7;
  }
  .custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 0px; 
    left: 5px; 
    width: 5px;
    height: 10px;
    border: 1px solid white; 
    border-width: 0 1px 1px 0; 
    transform: rotate(45deg); 
  }
  .custom-checkbox1 {
    visibility: hidden;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    appearance: none;
    background-color: #fff; 
    border: 2.5px solid #D0D2D6;
    cursor: pointer;
    position: relative;
  }
  .custom-checkbox1:checked {
    background-color: #4a6cf7;
    border: 2.5px solid #4a6cf7;
  }
  .custom-checkbox1:hover {
    border-color: #4a6cf7;
    visibility: visible;
  }
.EnterData:hover .custom-checkbox1{
    visibility: visible;
  }
 .Iicon {
  padding: 5px;
  visibility: hidden; 
  position: relative;
}

.EnterData:hover .Iicon {
  visibility: visible; 
}
  .custom-checkbox1:checked::after {
    content: '';
    position: absolute;
    top: 0px; 
    left: 5px; 
    width: 5px;
    height: 10px;
    border: 1px solid white; 
    border-width: 0 1px 1px 0; 
    transform: rotate(45deg); 
  }

  