.Debit-ul-li ul li{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    list-style-type:none;
    padding: 10px;
    background-color: #EDF3FF;
    width: 100%;
   
   
}
.Debit-ul-li{
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.Debit-ul-li ul li a span{
 
}
.Debit-ul-li ul li a{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.Debit-ul-li ul {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;
}